.section {
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.section img {
  width: 100%;
  height: 300px; /* bad hook */
}
.opacity {
  cursor: pointer;
  opacity: 1;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.opacity:hover {
  opacity: 0.7;
}
.link {
  margin: 0;
  padding: 1em 0;
  width: 100%;
  line-height: 2em;
  font-size: 2em;
}
.link:hover {
  background: #f5f5f5;
  color: #5191fa;
}
.link span {
  color: #727272;
  border-top: solid 3px #ccc;
  font-size: 0.6em;
  padding: 15px;
  font-weight: normal;
}
