.header {
  height: 100px;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.visable {
  background-color: #fff;
  border-bottom: #ccc 1px solid;
}
.logo {
  font-size: 3em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  position: absolute;
  left: 30px;
  top: 12px;
}
.unvisable {
  background-color: #fafafa;
}
.selected {
  position:absolute;
  z-index: 99999;
  right: 40px;
}
.inp {
  position: absolute;
  top: 32px;
  left: 200px;
}
/* iq-developer */
.authorization {
  position: absolute;
  top: 35px;
  right: 120px;
  font-size: 1.3em;
  font-weight: bold;
}
.authorization:hover {
  opacity: 0.8;
}



@media (max-width: 520px) {

}
