.login {
    padding-top: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
  min-width: 320px;
  max-width: 500px;
  background-color: #fafafa;
  box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.41);
  border-radius: 10px;
  z-index: 1;
}

.wrapp {
    padding: 20px;
}

.kr {
    cursor:pointer;
    position:relative;
    top:5px;
    left:300px;
}

.red {
    color:red;
}
