.pad {
  padding-top: 60px;
}

.headerSearch {
  height: 455px;
  background: center -10vw no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 115px;
}

.input {
  width: 700px;
  margin: 0 20px;
}

.fl {
  display: flex;
  justify-content: center;
}

.headerSearch h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.ownPage {
  max-width: 1230px;
  margin: 20px auto;
  padding: 0 20px 20px;
}
.preloader {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.title {
  font-weight: 700;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 2vw;
}


@media (max-width: 520px) {
  .headerSearch h1 {
    font-size: 1.25em;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  .input {
    width: 300px;
  }
}
