p {
  font-size: 1.5em;
}
li {
  font-size: 1.5em;
}

.countrypage {
    padding-top: 60px;
    max-width: 1230px;
    margin: 0 auto;
}
.imgCountry {
    height:220px;
    width: 280px;
    border-radius: 20px;
}
.pagef {
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    width: 90vw;
}
.descr h1{
    text-align: center;
}
.descr {
    max-width: 900px;
    margin-left: 20px;
}
.centerfl {
    display: flex;
    justify-content: center;
}
.widgets {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0 0;
    font-size: 1.5em;
}
.widgets article {
    margin: 20px 50px;
}
.center {
    text-align: center;
}
.bor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
  position: fixed;
  top: 0;
  left: 35%;
  z-index: 2;
  font-size: 4em;
}

@media (max-width: 800px){
  .title {
    position: static;
    margin: 50px 0 0 30px;
  }
}